---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Image of Daniel Christo"
>
	<p>
		Utilizing software engineering best practices, I have worked with retail, financial and ed-tech 
		industry partners to develop business critical web service and database solutions.
	</p>

	<p>
		For Canadian Tire and Loblaws, I built real-time supply chain management reports that streamlined 
		the day-to-day movement of automotive, grocery and apparel products across their businesses.
	</p>

	<p>
		For the Ontario Teacher’s Pension Plan, I replaced their existing web-based system for teachers to 
		monitor and manage their pension.
	</p>

	<p>
		For Thinkific I built the Thinkific App Store along with a first party App allowing B2B partners to 
		log in with their own identity provider. I built functionality for Thinkific to collect VAT taxes 
		from their UK and EU customers as well as allow them to pay for services in their local currencies. 
		Most recently I built a new home page dashboard for Thinkific customers along with a customizable 
		onboarding checklist.
	</p>

	<p>
		I am most motivated when faced with a challenging customer-focused problem that requires software 
		programming to solve. I work quickly and effectively to understand the technical needs of the business 
		so that I can provide the right solutions for them to achieve success.
	</p>

	<p>
		findme@danielchristo.com to discuss your business needs and how I may be of help.
	</p>
</Layout>
