---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PrioritizationGrid from '../prioritization-grid/src/components/PrioritizationGrid';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Footer from '../components/Footer.astro';
---

<html>
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
    <Header />
    <div class="container">
        <PrioritizationGrid client:load/>
    </div>
</body>
    <Footer />
</html>