@import '../styles/variables';


  .ItemList {
    .ItemTextbox {
      color: rgb(0, 0, 0);
    }
  }

  .ItemListHeader {
    height: 90px;
    width: 200px;
  }

  .ItemListTitle {
    font-size: 22px;
    font-weight: bold;
  }
  
  .ItemListTitleSubtext {
    font-size: 16px;
    line-height: normal;
  }