@import '../styles/variables';
  
  .ResultList {
    .ItemTextbox {
      color: rgb(0, 0, 0);
    }
  }

  .ResultListHeader {
    height: 90px;
    width: 200px;
  }

  .ResultListTitle {
    font-size: 22px;
    font-weight: bold;
  }
  
  .ResultListTitleSubtext {
    font-size: 16px;
    line-height: normal;
  }